
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  
  <body>
     <mat-card class="example-card">
          <h1>login</h1>
          <mat-card-actions>  
            <div class="form-container form-1">
              
              
              <div [className]="eyes ? 'form password' : 'form'">
                  <h2 class="example-card">Please logged in</h2>
        
                  <div class="example-card">
                  <label for="email"></label>
                  <input  [(ngModel)] = "email" 
                          name = "email" 
                          id="email"
                          type="email"
                          [className]="eyes ? 'password' : ''"

                     
                          matInput placeholder="Email" required>
                </div>
                <div *ngIf = "code == 'auth/invalid-email'" class="err">{{ message }}</div>
                <div *ngIf = "code == 'auth/user-not-found'" class="err">{{ message }}</div>
                <div *ngIf = "email == ''" class="err">{{ required }}</div>
  
                <div class="example-card">
                  <label for="password" ></label>
                  <input 
                          [type] = "hide ? 'password' : 'text'"
                          id="password"
                          [(ngModel)]="password" 
                          name="password" 
                          placeholder="Password"
                          [className]="eyes ? 'password' : ''"

                          matInput >
                          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </div>
                <br>
                <div class="progress-bar_wrap">
                  <div [className]="item1 ? 'pb item1 active' : 'pb item1'"></div>
                  <div [className]="item2 ? 'pb item2 active' : 'pb item2'"></div>
                  <div [className]="item3 ? 'pb item3 active' : 'pb item3'"></div>
                </div>
                <span class="progress-bar_text" >{{ pbText }}</span>
                <br>
                <div *ngIf = "code == 'auth/wrong-password'"  class="err">{{ message }}</div>
                <div *ngIf = "password == ''"  class="err" >{{ required }}</div>
      
                <button class="example-card" mat-raised-button
                        
                        (click)="login()">Login
                </button>
               
              </div>
            </div>
          </mat-card-actions>
    </mat-card>
  </body>
  
  
  