
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="head-line">my app</h1>
    <div style="display: flex; justify-content: flex-end; flex: 1 1 auto;"> 
      <!-- <button *ngIf="authService.user | async" mat-raised-button class="nav-side" (click)= "toWelcome()">
       Welcome
    </button>     
    <button mat-raised-button class="nav-side" (click)="toSingup()">
        sing up 
</button> -->
<!-- *ngIf="inOrOut" -->
<!-- *ngIf="!(inOrOut)" -->
    <button *ngIf="inOrOut" mat-raised-button class="nav-side"  (click)="toLogin()">
        Login
    </button>
    <button   mat-raised-button class="nav-side"  (click)="toLogOut()">
            Log out
        </button>
    <button mat-raised-button class="nav-side" (click)="toRegister()">
        register 
    </button>
    <button mat-raised-button class="nav-side" (click)="toBooks()">
        books
    </button>
   
  </div>
  </mat-toolbar-row>