<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()"
    style="list-style-type:none">
    <mat-checkbox
      [(ngModel)]="read"
      (change) = "checkChange()">
    </mat-checkbox>  
    <span   *ngIf = "!showEditField"
            (click) = "showEdit()"> Book name: {{ bookName }} </span>

            <mat-form-field  *ngIf ="showEditField">   <!-- אם נלחץ על הטקסט הנגי איפ יעבוד ויציג את שדה העריכה -->
                <input [(ngModel)] = "bookName" matInput >
                 </mat-form-field>

                 <br> 
                 <mat-form-field style="margin-left: 15px"  *ngIf ="showEditField">   <!-- אם נלחץ על הטקסט הנגי איפ יעבוד ויציג את שדה העריכה -->
                        <input [(ngModel)] = "author" matInput >
                        </mat-form-field>
                        <br> 
    <span   *ngIf = "showAuthor"> Author: {{ author }} </span>
           
            <br>    
            <button  *ngIf ="showEditField" mat-raised-button (click) = "save()">Save</button>
            <button *ngIf ="showEditField" mat-raised-button (click) = "cancel()">cancel</button>
  <br>


    

</li>